# Mac.
.DS_Store

# Vagrant.
.vagrant

# Configuration.
config/config.yml
config/inventory
/config/host-vars

# App-specific files.
*.log
scripts/temps.conf

# Python.
*.pyc

# Node.js.
*/node_modules/*
