dashboard_uri = '{{ dashboard_uri }}'

local_temp_read_delay = {{ local_temp_read_delay }}
local_temp_offset = {{ local_temp_offset }}
local_sensor_id = {{ local_sensor_id }}

nest_sensor_id = {{ nest_sensor_id }}
wu_sensor_id = {{ wu_sensor_id }}
owm_sensor_id = {{ owm_sensor_id }}
owm_city_id = '{{ owm_city_id }}'