---
- hosts: master
  sudo: yes

  vars_files:
    - ../../config/config.yml

  pre_tasks:
    - name: Ensure apt cache is updated.
      apt: update_cache=yes cache_valid_time=86400

    - name: Ensure apt-transport-https is installed.
      apt: name=apt-transport-https state=present

  roles:
    - geerlingguy.git
    - geerlingguy.mysql
    - geerlingguy.nodejs
    - geerlingguy.raspberry-pi

  tasks:
    - name: Install dependencies for Python temperature scripts.
      apt: "name={{ item }} state=present"
      with_items:
        - python-pip
        - python-dev

    - name: Ensure the temperature-monitor repository is present.
      git:
        repo: https://github.com/geerlingguy/temperature-monitor.git
        dest: "{{ temperature_monitor_dir }}"
        update: yes
      when: deploy_target_is_pi
      notify: restart pi-temps

    - name: Install required Python libraries with pip.
      pip: "requirements={{ temperature_monitor_dir }}/scripts/requirements.txt"

    - name: Configure the settings file (temps.conf).
      template:
        src: templates/temps.conf.j2
        dest: "{{ temperature_monitor_dir }}/scripts/temps.conf"
      notify: restart pi-temps

    - include: tasks/database.yml
    - include: tasks/app.yml
    - include: tasks/scripts.yml

  handlers:
    - name: restart pi-temps
      service: name=pi-temps state=restarted
