doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/graphs.css')
  body
    block content
    script(type='text/javascript' src='/javascripts/jquery/jquery.min.js')
    script(type='text/javascript' src='/javascripts/flot/jquery.flot.min.js')
    script(type='text/javascript' src='/javascripts/flot/jquery.flot.time.min.js')
    script(type='text/javascript' src='/javascripts/index.js')
