/* General styles */
body {
  padding: 1em;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: .25em 0;
}

a {
  color: #00B7FF;
}

/* Latest Temperatures */
#temperature-latest {
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 1em 0;
}

#temperature-latest .sensor {
  display: inline-block;
  background-color: #eee;
  padding: .75em 1.5em 1em;
  margin: .5em;
}

#temperature-latest .title {
  font-size: .85em;
}

.temperature {
  font-size: 1.8em;
  margin-bottom: .25em;
}

.time {
  font-size: .9em;
}

/* Temperature graph */
#temperature-graph {
  width: 100%;
  height: 30em;
}

.loading {
  background: #eee url("/images/loading.gif") no-repeat center;
}

.help-text {
  font-size: .8em;
  text-align: center;
  margin-top: 3em;
}

/* Responsive */
@media screen and (max-width: 480px) {

  h1 {
    font-size: 1.5em;
    text-align: center;
  }

  #temperature-latest {
    margin: 1em 0;
  }

  #temperature-latest .sensor {
    padding: .8em 1em;
  }

  #temperature-graph {
    height: 15em;
  }

}
